html
  head
    title ⚙️ Server example with ⛺ Tent
    link(href="/styles.css" rel="stylesheet" type="text/css")
  body

    div#app
      h1 ⚙️ Express Server example
      p This is a simple example using an Express server to parse Pug templates. The Pug templates includes a script tag to load our Tent components.
      .target
        .hello-world
        .counter
        .list(data-items= items)

    script(src="/main.js")
