@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0 0 20px;
  line-height: 1;
}

ul {
  padding-left: 24px;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 700;
}

code {
  background-color: #f9f9f9;
  padding: 4px;
  border-radius: 4px;
}

#app {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
}

.target {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 4px;
  margin-top: 40px;
}
